<footer>
  <div class="footer-content">
    <div class="footer-logo">
      <img src="../../../../assets/images/favicon.png" alt="Your Cable Shop Logo">
      <h2>Cable-Shoppe</h2>
      <p>Empowering Networks,<br> Empowering You</p>
    </div>
    <div class="footer-section">
      <h4>Our Categories</h4>
      <ul>
        <li>Aluminum Cables</li>
        <li>Armoured Cable</li>
        <li>Industrial Wires</li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>Our Products</h4>
      <ul>
        <li>Wires</li>
        <li>Switches</li>
        <li>Cable</li>
      </ul>
    </div>
   
    <div class="footer-section">
      <h4>Contact Us</h4>
      <ul>
        <li>Phone: +1-234-567-890</li>
        <li>Email: info&#64;yourcableshop.com</li>
        <li>Main Office: 123 Main Street, City, Country</li>
        <li>Factory: 456 Factory Avenue, City, Country</li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2024 Your Cable-Shoppe. All Rights Reserved.</p>
  </div>
</footer>
